name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
  pull_request:
    paths-ignore:
      - README.md
      - LICENSE
  workflow_dispatch:

permissions:
  contents: read

env:
  DEVELOPER_DIR: /Applications/Xcode_16.3.app

jobs:
  build:
    name: Build & Test
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode 16
        run: sudo xcode-select -s /Applications/Xcode_16.3.app

      - name: Build
        run: swift build

      - name: Test
        run: swift test

  linux-test:
    name: Linux Test
    runs-on: ubuntu-latest
    container: swift:6.1
    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: swift test
  
  windows-test:
    name: Windows Test
    runs-on: windows-latest
    steps:
      - name: Install Swift
        uses: SwiftyLab/setup-swift@latest
        with:
          swift-version: "6.2"

      - uses: actions/checkout@v4

      - name: Test
        run: swift test
