name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - README.md
      - LICENSE
  pull_request:
    paths-ignore:
      - README.md
      - LICENSE
  workflow_dispatch:

permissions:
  contents: read

env:
  DEVELOPER_DIR: /Applications/Xcode_26.2.app

jobs:
  build:
    name: Build & Test
    runs-on: macos-26
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode 26
        run: sudo xcode-select -s /Applications/Xcode_26.2.app

      - name: Build
        run: swift build

      - name: Test
        run: swift test

  linux-test:
    name: Linux Test
    runs-on: ubuntu-latest
    container: swift:6.2.3
    steps:
      - uses: actions/checkout@v4

      - name: Test
        run: swift test
  
  windows-test:
    name: Windows Test
    runs-on: windows-latest
    steps:
      - name: Install Swift
        uses: compnerd/gha-setup-swift@main
        with:
          swift-version: swift-6.2.3-release
          swift-build: 6.2.3-RELEASE

      - uses: actions/checkout@v4

      - name: Test
        run: swift test
